# Document Verification

![verification](../.gitbook/assets/verification.png)

## Usage

![verification usage](../.gitbook/assets/verification-Usage.png)

1.Click on any of the tags 2.Click on the "Usage" command in the command bar 3.This will open up the usage page you can view the usage page [Here](verification/document-analytics.md)

## Cost Analysis

![verification Cost Analysis](../.gitbook/assets/verification-CostAnalysis.png)

* The "Cost Analysis" Command takes you to the Analytics page [Here](verification/document-analytics.md)

## Definition

![verification Definition](../.gitbook/assets/verification-Definition.png)

* The "Definition" Command takes you to the Cost Analysis page \[Todo]

## Rerun Verification

![verification Rerun](../.gitbook/assets/verification-RerunVerification.png)

* The "Rerun Verification" Command takes you to the Cost Analysis page \[Todo]

## Structured Data

![verification Structured Data](../.gitbook/assets/verification-StructuredData.png)

* The "Structured Data" Command takes you to the Cost Analysis page \[Todo]

## View Document

![verification View Document](../.gitbook/assets/verification-ViewDocument.png)

* The "View Document" Command opens the document on your local machine

## Copy Link

![verification Copy Link](../.gitbook/assets/verification-CopyLink.png)

* The "Copy Link" Command coppies a sharable link to the verification of th, you can share this verification with other AIForged users

## verification

![verification](../.gitbook/assets/verification-Verification.png)

* The "Verification" Command takes you to the Cost Analysis page \[Todo]

## Publish

![verification Publish](../.gitbook/assets/verification-Publish.png)

* The "Publish" Command allows you to publiish changes made\[Todo]
