# Document Verification

![verification](../assets/verification.png)

## Usage

![verification usage](../assets/verification-Usage.png)

1.Click on any of the tags
2.Click on the "Usage" command in the command bar
3.This will open up the usage page you can view the usage page [Here](verification/document-analytics.md)

## Cost Analysis

![verification Cost Analysis](../assets/verification-CostAnalysis.png)

* The "Cost Analysis" Command takes you to the Analytics page [Todo]

## Definition

![verification Definition](../assets/verification-Definition.png)

* The "Definition" Command takes you to the Cost Analysis page [Todo]

## Rerun Verification

![verification Rerun](../assets/verification-RerunVerification.png)

* The "Rerun Verification" Command takes you to the Cost Analysis page [Todo]

## Structured Data

![verification Structured Data](../assets/verification-StructuredData.png)

* The "Structured Data" Command takes you to the Cost Analysis page [Todo]

## View Document

![verification View Document](../assets/verification-ViewDocument.png)

* The "View Document" Command takes you to the Cost Analysis page [Todo]

## Copy Link

![verification Copy Link](../assets/verification-CopyLink.png)

* The "Copy Link" Command takes you to the Cost Analysis page [Todo]

## verification

![verification](../assets/verification-Verification.png)

* The "Verification" Command takes you to the Cost Analysis page [Todo]

## Publish

![verification Publish](../assets/verification-Publish.png)

* The "Publish" Command allows you to publiish changes made[Todo]