# Get Latest Parameter Verification

## About

### Display Name

Get Latest Parameter Verification

### Input

**Context** - Requires a context for the connection to AIForged. Includes connection configuration information, user information and authentication information. This is a regular VB or C# expression.

**Document ID -** \<Int32> Document ID

**Document Parameter id -** \<Int32> The unique identifier if the document parameter to retrieve verification data for

**Parameter Definition ID -** \<Int32> The unique identifier of the parameter definition to retrieve verification data for

### Misc

**Private -** If not selected, the values of variables and arguments are at Verbose level.

**Result**

## Activity Preview

### Activity View

<figure><img src="../../../.gitbook/assets/image (35) (1) (1).png" alt=""><figcaption></figcaption></figure>

### Activity Property View

<figure><img src="../../../.gitbook/assets/image (48) (2).png" alt=""><figcaption></figcaption></figure>
