# Get Parameter Verification

## About

### Display Name

Get Parameter definition

### Input

**Context** - Requires a context for the connection to AIForged. Includes connection configuration information, user information and authentication information. This is a regular VB or C# expression.

**Document ID -** \<Int32> Document ID

**Document Parameter ID -** \<Int32> The unique identifier of the document parameter to retrieve verification data for

### Misc

**Private -** If not selected, the values of variables and arguments are at Verbose level.

**Result**

## Activity Preview

### Activity View

![](../../../assets/image%20%28109%29%20%281%29.png)
### Activity Property View

![](../../../assets/image%20%2894%29%20%281%29%20%281%29.png)


