# Return Verification

## About

### Display Name

Rerun Verification

### Input

**Confidence -** \<Single> The new confidence value

**Context** - Requires a context for the connection to AIForged. Includes connection configuration information, user information and authentication information. This is a regular VB or C# expression.

**Document ID -** \<Int32> Document ID

**Status -** \<AiForged.API.VerificationStatus> The new status value

**Value -** \<String> The new verification value

**Verification -** \<AIForged.API.VerificationViewModel> The verification object to return

### Misc

**Private -** If not selected, the values of variables and arguments are at Verbose level.

**Result**

## Activity Preview

### Activity View

<figure><img src="../../../assets/image (4) (9).png" alt=""><figcaption></figcaption></figure>

### Activity Property View

<figure><img src="../../../assets/image (101) (1).png" alt=""><figcaption></figcaption></figure>

