# Return Verification

## About

### Display Name

Rerun Verification

### Input

**Confidence -** \<Single> The new confidence value

**Context** - Requires a context for the connection to AIForged. Includes connection configuration information, user information and authentication information. This is a regular VB or C# expression.

**Document ID -** \<Int32> Document ID

**Status -** \<AiForged.API.VerificationStatus> The new status value

**Value -** \<String> The new verification value

**Verification -** \<AIForged.API.VerificationViewModel> The verification object to return

### Misc

**Private -** If not selected, the values of variables and arguments are at Verbose level.

**Result**

## Activity Preview

### Activity View

![](../../../assets/image%20%284%29%20%289%29.png)
### Activity Property View

![](../../../assets/image%20%28101%29%20%281%29.png)
 IgnoreCase Multiline IgnoreCase Multiline

